<% layout("layouts/boilerplate")%>
  <h3>Create a new listing</h3>

  <form method="POST" action="/listings">

    <!-- TITLE -->
    <input type="text" name="listing[title]" placeholder="Enter title">
    <br/><br/>

    <!-- DESCRIPTION -->
    <textarea name="listing[description]" placeholder="Enter description"></textarea>
    <br/><br/>

    <!-- IMAGE URL -->
    <input type="text" name="listing[image][url]" placeholder="Enter image URL">
    <br/><br/>

    <!-- PRICE -->
    <input type="number" name="listing[price]" placeholder="Enter price">
    <br/><br/>

    <!-- COUNTRY -->
    <input type="text" name="listing[country]" placeholder="Enter country">
    <br/><br/>

    <!-- LOCATION -->
    <input type="text" name="listing[location]" placeholder="Enter location">
    <br/><br/>

    <button>Submit</button>
  </form>

</body>
</html>
